.colon{
    display: flex;
    flex-direction: column;
    gap: .2vw;
    opacity: .5;
    h6{
        font-size: 2vw;
    }
    a{
        font-family: pt-r;
        color: #fff;
        text-decoration: none;
        font-size: 1vw;
    }
}

@media (max-width: 1024px) {
    .colon h6{
        font-size: 3vw;
    }
    .colon a{
        font-size: 2vw;
    }
}