.hitsection {
    padding-top: 3vw;
    padding-bottom: 3vw;

    h2 {
        padding-bottom: 2.5vw;
    }
}

.cardRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width:1023px) {
    .cardRow {
        width: 86vw;
    }
}