.MainWrapper {
    display: flex;
}

.btn {
    font-family: Asia;
    color: #fff;
    background-color: #D53C25;
    border: #D53C25 .2vw solid;
    padding: 1vw 3vw;
    margin-top: 1vw;
    border-radius: .5vw;
    margin-top: 2vw;
    transition: all .2s ease-in;
    margin-right: 1vw;
}

.btn:hover {
    border: #fff .2vw solid;
}

.bar {
    padding: 2vw 2vw 0 7.3vw;
    background-color: #3F0711;
}

.bar img {
    height: 12vw;
}

.bar ul {
    margin-top: 2vw;
    font-family: pt-r;
    font-size: 2.5vw;
    list-style: none;

}

.ifo {
    padding: 2vw 0 4.5vw 5.2vw;

    h2 {
        padding-bottom: 1.2vw;
    }
}

.info_box {
    h4 {
        font-size: 2vw;
        padding-bottom: 1vw;
    }

    display: flex;
    flex-direction: column;
    padding-bottom: 3.6vw;
}

.info_box li {
    font-family: pt-r;
    font-size: 1.6vw;
    padding-bottom: .5vw;
    list-style-type: none;
    padding-left: 2vw;
}

.error {
    min-height: 100vh;
    text-align: center;
    padding-top: 10vh;
    font-family: Asia;
    font-size: 4vw;
}

input {
    background-color: #3F0711;
    border: none;
    border-radius: .5vw;
    width: 100%;
    height: 3.5vw;
    font-size: 1.7vw;
    font-family: pt-r;
    color: #fff;
    margin-top: 1vw;

}

@media (max-width:1023px) {
    .MainWrapper {
        display: flex;
        flex-direction: column;
    }

    .bar {
        display: flex;
        padding: 3vw 5vw 3vw 5vw;
        background-color: #3F0711;
        align-items: center;
    }

    .bar img {
        height: 20vw;
    }

    .bar ul {
        font-family: pt-r;
        font-size: 10vw;
        padding-left: 5vw;
        list-style: none;
    }

    .ifo {
        padding: 2vw 0 4.5vw 5.2vw;

        h2 {
            font-size: 5vw;
            padding-bottom: 1.2vw;
        }
    }

    .info_box {
        h4 {
            font-size: 5vw;
            padding-bottom: 3vw;
        }

        padding-bottom: 3.6vw;
    }

    .info_box li {
        font-family: pt-r;
        font-size: 3vw;
        padding-bottom: 1.5vw;
        list-style-type: none;
        padding-left: 2vw;
    }
    input {
    background-color: #3F0711;
    border: none;
    border-radius: .5vw;
    width: 70vw;
    height: 6vw;
    font-size: 4vw;
    font-family: pt-r;
    color: #fff;
    margin-top: 3vw;

}
}