.btn{
    font-size: 2.3vw;
    font-family: pt-b;
    text-align: center;
    border: .2rem solid #fff;
    padding: 1.6vw 1vw;
    border-radius: .5vw 0 0 .5vw;
    transition: background-color .3s ease-in-out, border .3s ease-in-out;
}

.btn:hover{
    border: .2rem solid #D53C25;
    background-color: #D53C25;
}

@media (max-width: 1023px) {
    .btn {
        font-size: 3vw;
        padding: 2vw;
        border-radius: 0.5vw;
        width: 100%;
        margin-bottom: 1vw;
    }

    .btn.active,
    .btn:active {
        border: 0.2rem solid #D53C25;
        background-color: #D53C25;
        color: white;
    }
}
