.card {
    width: 16.5vw;
    height: 34vw;
    background-color: #3F0711;
    border-radius: 1vw;
    padding: .5vw 1.7vw 1.5vw 1.7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.mainInfo {
    h5 {
        font-size: 1.2vw;
        padding: .2vw 0;
    }
}
.card img {
    width: 16vw;
    padding-bottom: 1vw;
}
.card h4 {
    font-size: 1.8vw;
}
.price{
    h4{padding-bottom: 2vw;}
}