.btn{
    font-family: pt-b;
    font-size: 1.3vw;
    background-color: #fff;
    border: .2vw solid #fff;
    border-radius: .5vw;
    padding: .5vw 2vw;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
.btn:hover{
    background: none;
    color: #fff;
}